<form action="/artist-search" method="GET">
{{!-- the method of the form is what determines the request type that is being made (get/post) --}}

    <label for="song-input">
        
        <input id="song-input" type="text" placeholder="Enter an Artist" name="artist">
    </label>

    <br>
    <button>Search for an Artist</button>
    
</form>