<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/artist-search-results.hbs">Artist Results</a>
    </nav>
    {{{body}}}
    <br>
    <br>
    <br>
    <footer>Made by Zac at Ironhack</footer>
    <script src="./scripts/script.js"></script>
</body>
</html>